::ng-deep .candidateIntervieScreen {
    .mat-horizontal-stepper-header-container {
        display: none !important;
        opacity: 0;
        visibility: hidden;
    }

    .question_p{
        text-align: left !important ;
    }

    .submitStep{
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}