::ng-deep.test_result_component{
    
    .skill_set_box{
        background-color: #ebf8fc;
    }
    .mat-raised-button{
        height: 47px;
    }
    
    .mat-form-field-wrapper{
        padding-bottom: 0px !important;
    }
}