<app-loader></app-loader>

<section class="test_result_component">
    <div class="container mt-4">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between p-4">
                        <h4 class="card-tittle mb-0">Test Evaluation</h4>
                        <h4 class="mb-0"><strong>Name:</strong> {{allQuestionAndanswer?.first_name}} {{allQuestionAndanswer?.last_name}}</h4>
                    </div>
                    
                    <div class="p-4" *ngIf="!candidateTestNotSubmit">
                        
                        <mat-stepper orientation="horizontal" >
                            <mat-step *ngFor="let customerGroup of allQuestionAndanswer.questions; let i = index">
                                <div class="d-flex justify-content-between">
                                    <h4><strong>Position:</strong> {{allQuestionAndanswer?.position_applied_for}}</h4>
                                    <h4 class="mb-0"><strong>Level:</strong> {{customerGroup?.level}}</h4>
                                </div>
                              <ng-template matStepLabel>{{i + 1}}</ng-template>
                              <ng-template matStepContent>
                                    <!-- <p>{{allQuestionAndanswer.length - i}}</p> -->
                                    <div class="p-4 pb-2">

                                        <p class="question_p"><strong>{{i + 1}}.</strong> {{customerGroup.question}} </p>

                                        <div class="border p-4 mb-4 mt-3">
                                            <p class="answer_p mb-0"><strong class="text-green">Answer: </strong> {{customerGroup.answer}}.
                                            </p>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="mb-0">Points: 
                                                <!-- <b>{{i * 2}}</b> -->
                                                <b>{{totalpoints}}</b>
                                            </p>
                                            <div>
                                            <!-- <button *ngIf=" customerGroup.id != 1 " mat-button matStepperPrevious>Back</button> &nbsp;&nbsp; -->

                                                <button class="btn_click_ans_review" (click)="submit('wrong', customerGroup)" mat-raised-button matStepperNext
                                                >Wrong</button>&nbsp;&nbsp;&nbsp;

                                                <button class="btn_click_ans_review" (click)="submit('correct', customerGroup)" mat-raised-button  matStepperNext>Correct</button>

                                            </div>

                                        </div>
                                    </div>


                              </ng-template>
                            </mat-step>

                            <mat-step class="">
                                <div class="submitStep">
                                    <div>
                                        <h4 class=""> Test Result Successfully Submitted !!</h4>
                                        <!-- <button mat-raised-button matStepperPrevious>Back</button> &nbsp;&nbsp; -->
                                        <div class="d-flex justify-content-center">
                                            <button (click)="finalSubmit()" type="submit" mat-raised-button color="primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </mat-step>
                            
                          </mat-stepper>

                           <!-- <form [formGroup]="formGroup">
                            <mat-horizontal-stepper  formArrayName="form" #stepper>
                              <mat-step [formGroupName]="i" *ngFor="let customerGroup of [allQuestionAndanswer]; let i = index">
                                    <p>{{customerGroup.title}}</p>
                                    <p>{{customerGroup.body}}</p>
                                    <p>{{customerGroup.id}}</p>
                                    <p>{{i + 1}}</p>
                              <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                              </div>
                              </mat-step>
                            </mat-horizontal-stepper>
                          </form> -->


                        <!-- <mat-stepper headerPosition="bottom" #stepper>
                            <mat-step [stepControl]="firstFormGroup">
                                <form [formGroup]="firstFormGroup">
                                    <div class="p-4 pb-2">

                                        <p class="question_p"><strong>1.</strong> Lorem ipsum dolor sit, amet
                                            consectetur
                                            adipisicing elit. Illum inventore dolorum ducimus aliquam, nihil molestiae
                                            voluptates maxime repellat perferendis ipsum delectus ?</p>

                                        <div class="border p-4 mb-4 mt-3">
                                            <p class="answer_p"><strong class="text-green">Answer: </strong> Lorem ipsum
                                                dolor sit, amet consectetur
                                                adipisicing elit. Illum inventore dolorum ducimus dicta necessitatibus
                                                nobis
                                                adipisci, placeat distinctio nesciunt debitis odio aliquam, nihil
                                                molestiae
                                            </p>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="mb-0">Points: <b>2</b></p>
                                            <div>
                                                <button mat-raised-button matStepperNext
                                                    color="warn">Wrong</button>&nbsp;&nbsp;&nbsp;
                                                <button mat-raised-button color="accent" matStepperNext>Correct</button>
                                            </div>

                                        </div>
                                    </div>
                                   
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="secondFormGroup" optional>
                                <form [formGroup]="secondFormGroup">

                                    <div class="p-4 pb-2">

                                        <p class="question_p"><strong>1.</strong> Lorem ipsum dolor sit, amet
                                            consectetur
                                            adipisicing elit. Illum inventore dolorum ducimus aliquam, nihil molestiae
                                            voluptates maxime repellat perferendis ipsum delectus ?</p>

                                        <div class="border p-4 mb-4 mt-3">
                                            <p class="answer_p"><strong class="text-green">Answer: </strong> Lorem ipsum
                                                dolor sit, amet consectetur
                                                adipisicing elit. Illum inventore dolorum ducimus dicta necessitatibus
                                                nobis
                                                adipisci, placeat distinctio nesciunt debitis odio aliquam, nihil
                                                molestiae
                                            </p>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="mb-0">Points: <b>2</b></p>
                                            <div>
                                            <button mat-button matStepperPrevious>Back</button> &nbsp;&nbsp;
                                                <button mat-raised-button matStepperNext
                                                    color="warn">Wrong</button>&nbsp;&nbsp;&nbsp;
                                                <button mat-raised-button color="accent" matStepperNext>Correct</button>
                                            </div>

                                        </div>
                                    </div>

                                </form>
                            </mat-step>
                            <mat-step>

                                <div class="d-flex align-items-center justify-content-center" style="height: 400px;">
                                    <div class="text-center">
                                        <h3>
                                            You are now done.
                                        </h3>
                                        <div>
                                            <button mat-button matStepperPrevious>Back</button> &nbsp;&nbsp;
                                            <button type="submit" mat-raised-button color="primary"
                                                mat-button>Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </mat-step>
                        </mat-stepper> -->
                    
                    </div>
                    <div *ngIf="candidateTestNotSubmit" class="p-4">
                        <h3 class="text-center mb-0">Candidate Interview Is Not Done</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>